.pexelsNicoleAvagliano270665 {
  position: absolute;
  border-radius: var(--br-xl);
  top: 196px;
  left: 1450px;
  background: radial-gradient(70% 70%at 50% 50%, #422d9a, #0d0822);
  width: 840px;
  height: 580px;
}
.pexelsNicoleAvagliano2706654 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: radial-gradient(70% 70%at 50% 50%, #422d9a, #0d0822);
  width: 3778px;
  height: 1995px;
}
.rectangulo,
.grupoItem {
  position: absolute;
  border-radius: var(--br-xl);
}
.rectangulo {
  top: 196px;
  left: 1450px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro);
  width: 840px;
  height: 580px;
}
.grupoItem {
  top: 315px;
  left: 1505px;
  width: 240px;
  height: 291px;
  object-fit: cover;
}
.fotoDelUsuario {
  position: absolute;
  top: 422px;
  left: 1524px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  height: 57px;
}
.rectanguloHeader,
.rectangleMain {
  position: absolute;
  left: 1450px;
  background-color: var(--color-gray);
  width: 840px;
}
.rectanguloHeader {
  top: 196px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  border-bottom: 1px solid #8fc13d;
  box-sizing: border-box;
  height: 85px;
}
.rectangleMain {
  top: 281px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  height: 495px;
}
.nombre {
  position: absolute;
  top: 315px;
  left: 1794px;
  font-weight: 300;
  display: inline-block;
  width: 181px;
  height: 44px;
}
.fechaDeIngreso {
  top: 633px;
  left: 1501px;
  font-weight: 300;
  width: 244px;
}
.deAbrilDel,
.fechaDeIngreso,
.jorgeMartnezLozano,
.unitedFederationOf {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deAbrilDel {
  top: 664px;
  left: 1501px;
  font-weight: 300;
  width: 244px;
  height: 44px;
}
.jorgeMartnezLozano,
.unitedFederationOf {
  font-size: var(--font-size-11xl);
}
.unitedFederationOf {
  top: 214px;
  left: 1579px;
  font-weight: 600;
  font-family: var(--font-lexend);
  width: 711px;
  height: 44px;
}
.jorgeMartnezLozano {
  top: 374px;
  left: 1794px;
  width: 403px;
}
.rectanguloSection {
  position: absolute;
  top: 359px;
  left: 1794px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 448px;
  height: 70px;
}
.descripcion,
.holaSoyJorge {
  position: absolute;
  display: inline-block;
}
.descripcion {
  top: 571px;
  left: 1794px;
  font-weight: 300;
  width: 181px;
  height: 44px;
}
.holaSoyJorge {
  top: 629px;
  left: 1816px;
  text-align: justify;
  width: 403px;
  height: 57px;
}
.rectangulo1,
.rol {
  position: absolute;
  left: 1794px;
}
.rectangulo1 {
  top: 615px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-gainsboro);
  border-top: 3px solid var(--color-mediumslateblue);
  border-right: 3px solid var(--color-mediumslateblue);
  border-left: 3px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 448px;
  height: 161px;
}
.rol {
  top: 443px;
  font-weight: 300;
  display: inline-block;
  width: 181px;
  height: 44px;
}
.gerenteDeExperiencias {
  position: absolute;
  top: 493px;
  left: 1816px;
  font-size: var(--font-size-11xl);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403px;
  height: 57px;
}
.rectangulo2 {
  position: absolute;
  top: 487px;
  left: 1794px;
  border-radius: 90px;
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 448px;
  height: 70px;
}
.image1Icon {
  position: absolute;
  top: 204px;
  left: 1490px;
  border-radius: 46px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.pexelsThisisengineering39125Icon {
  position: absolute;
  top: 314px;
  left: 1505px;
  border-radius: var(--br-xl);
  width: 240px;
  height: 292px;
  object-fit: cover;
}
.pexelsNicoleAvagliano270665Icon {
  position: absolute;
  border-radius: var(--br-xl);
  top: 1077px;
  left: 1450px;
  background: radial-gradient(70% 70%at 50% 50%, #422d9a, #0d0822);
  width: 840px;
  height: 580px;
}
.rectangulo3,
.image7Icon {
  position: absolute;
  border-radius: var(--br-xl);
}
.rectangulo3 {
  top: 1077px;
  left: 1450px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray);
  width: 840px;
  height: 580px;
}
.image7Icon {
  top: 1158px;
  left: 1516px;
  width: 291px;
  height: 290px;
  object-fit: cover;
}
.copiarLink,
.rectangleButton {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.rectangleButton {
  border: 3px solid var(--color-mediumslateblue);
  background-color: var(--color-gainsboro);
  top: 1499px;
  left: 1516px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  width: 289px;
  height: 78px;
}
.copiarLink {
  border: 0;
  background-color: transparent;
  top: 1519px;
  left: 1459px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-lexend-deca);
  color: var(--color-mediumslateblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403px;
}
.copiarLink:hover {
  color: #2e0673;
}
.carrera,
.ingenieraMecnica {
  position: absolute;
  left: 1879px;
}
.carrera {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1158px;
  font-size: var(--font-size-6xl);
  font-weight: 300;
  font-family: var(--font-lexend-deca);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 164px;
  height: 44px;
}
.ingenieraMecnica {
  top: 1202px;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  width: 365px;
}
.proyecto {
  top: 1265px;
  font-weight: 300;
  width: 164px;
  height: 44px;
}
.ecolife,
.habilidades,
.proyecto {
  position: absolute;
  left: 1879px;
  display: inline-block;
}
.ecolife {
  top: 1309px;
  font-size: var(--font-size-11xl);
  width: 365px;
}
.habilidades {
  top: 1366px;
  font-weight: 300;
  width: 164px;
  height: 44px;
}
.diseoCAD {
  margin-bottom: 0;
}
.diseoCADPythonImpresin3d {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 40px;
}
.diseoCADPythonContainer {
  position: absolute;
  top: 1410px;
  left: 1879px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 365px;
}
.pexelsNicoleAvagliano270665Parent {
  width: 100%;
  position: relative;
  height: 1818px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}
.tarjeta {
  transition: transform 1s, opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.tarjeta.flipped {
  transform: rotateY(180deg);
  opacity: 0;
}
.botonFlipp {
  position: absolute;
  object-fit: cover;
  top: 700px;
  left: 2255px;
  width: 40px;
  height: 40px;
  opacity: 0; /* Agregamos transiciones */
}
.botonFlip{
  position: absolute;
  object-fit: cover;
  top: 700px;
  left: 2255px;
  width: 40px;
  height: 40px;
  background: var(--color-mediumslateblue);
}
.tarjetaContainer {
  position: relative;
  width: 100%; /* Ajusta el ancho según sea necesario */
  height: 100%; /* Ajusta la altura según sea necesario */
}




