.pexelsNicoleAvagliano270665 {
  position: absolute;
  border-radius: var(--br-xl);
  top: 500px;
  left: 1450px;
  background: radial-gradient(70% 70%at 50% 50%, #422d9a, #0d0822);
  width: 840px;
  height: 580px;
}
.pexelsNicoleAvagliano2706654 {
  position: absolute;
  top: 0px;
  left: 0px;
  background: radial-gradient(70% 70%at 50% 50%, #422d9a, #0d0822);
  width: 3778px;
  height: 1995px;
}
.rectangulo,
.grupoItem {
  position: absolute;
  border-radius: var(--br-xl);
}
.rectangulo {
  top: 500px;
  left: 1450px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gainsboro);
  width: 840px;
  height: 580px;
}
.grupoItem {
  top: 619px;
  left: 1505px;
  width: 240px;
  height: 291px;
  object-fit: cover;
}
.Foto {
  position: absolute;
  top: 726px;
  left: 1524px;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 203px;
  height: 57px;
}
.rectanguloHeader,
.rectangleMain {
  position: absolute;
  left: 1450px;
  background-color: var(--color-gray);
  width: 840px;
}
.rectanguloHeader {
  top: 500px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  border-bottom: 1px solid #8fc13d;
  box-sizing: border-box;
  height: 85px;
}
.rectangleMain {
  top: 585px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  height: 495px;
}
.Info1 {
  position: absolute;
  top: 619px;
  left: 1794px;
  font-weight: 300;
  display: inline-block;
  width: 181px;
  height: 44px;
}
.Info2 {
  top: 937px;
  left: 1501px;
  font-weight: 300;
  width: 244px;
}
.Fecha,
.Info2,
.Nombre,
.Organizacion {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Fecha {
  top: 968px;
  left: 1501px;
  font-weight: 300;
  width: 244px;
  height: 44px;
}
.Nombre,
.Organizacion {
  font-size: var(--font-size-11xl);
}
.Organizacion {
  top: 518px;
  left: 1579px;
  font-weight: 600;
  font-family: var(--font-lexend);
  width: 711px;
  height: 44px;
}
.Nombre {
  top: 678px;
  left: 1794px;
  width: 403px;
}
.rectanguloSection {
  position: absolute;
  top: 663px;
  left: 1794px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 448px;
  height: 70px;
}
.Info3,
.Descripcion {
  position: absolute;
  display: inline-block;
}
.Info3 {
  top: 875px;
  left: 1794px;
  font-weight: 300;
  width: 181px;
  height: 44px;
}
.Descripcion {
  top: 933px;
  left: 1816px;
  text-align: justify;
  width: 403px;
  height: 57px;
}
.rectangulo1,
.Info4 {
  position: absolute;
  left: 1794px;
}
.rectangulo1 {
  top: 919px;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-gainsboro);
  border-top: 3px solid var(--color-mediumslateblue);
  border-right: 3px solid var(--color-mediumslateblue);
  border-left: 3px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 448px;
  height: 161px;
}
.Info4 {
  top: 747px;
  font-weight: 300;
  display: inline-block;
  width: 181px;
  height: 44px;
}
.Rol {
  position: absolute;
  top: 797px;
  left: 1816px;
  font-size: var(--font-size-11xl);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403px;
  height: 57px;
}
.rectangulo2 {
  position: absolute;
  top: 791px;
  left: 1794px;
  border-radius: 90px;
  background-color: var(--color-gainsboro);
  border: 3px solid var(--color-mediumslateblue);
  box-sizing: border-box;
  width: 448px;
  height: 70px;
}
.image1Icon {
  position: absolute;
  top: 508px;
  left: 1490px;
  border-radius: 46px;
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.pexelsThisisengineering39125Icon {
  position: absolute;
  top: 618px;
  left: 1505px;
  border-radius: var(--br-xl);
  width: 240px;
  height: 292px;
  object-fit: cover;
}
.pexelsNicoleAvagliano270665Icon {
  position: absolute;
  border-radius: var(--br-xl);
  top: 500px;
  left: 1450px;
  background: radial-gradient(70% 70%at 50% 50%, #422d9a, #0d0822);
  width: 840px;
  height: 580px;
}
.rectangulo3,
.image7Icon {
  position: absolute;
  border-radius: var(--br-xl);
}
.rectangulo3 {
  top: 500px;
  left: 1450px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray);
  width: 840px;
  height: 580px;
}
.image7Icon {
  top: 581px;
  left: 1516px;
  width: 291px;
  height: 290px;
  object-fit: cover;
}
.Copiar,
.rectangleButton {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.rectangleButton {
  border: 3px solid var(--color-mediumslateblue);
  background-color: var(--color-gainsboro);
  top: 922px;
  left: 1516px;
  border-radius: var(--br-31xl);
  box-sizing: border-box;
  width: 289px;
  height: 78px;
}
.Copiar {
  border: 0;
  background-color: transparent;
  top: 942px;
  left: 1459px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-lexend-deca);
  color: var(--color-mediumslateblue);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 403px;
}
.Copiar:hover {
  color: #2e0673;
}
.Estudio,
.Carrera {
  position: absolute;
  left: 1879px;
}
.Estudio {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 581px;
  font-size: var(--font-size-6xl);
  font-weight: 300;
  font-family: var(--font-lexend-deca);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 164px;
  height: 44px;
}
.Carrera {
  top: 625px;
  font-size: var(--font-size-11xl);
  display: flex;
  align-items: center;
  width: 365px;
}
.Proyecto {
  top: 688px;
  font-weight: 300;
  width: 164px;
  height: 44px;
}
.NomProyecto,
.Habilidades,
.Proyecto {
  position: absolute;
  left: 1879px;
  display: inline-block;
}
.NomProyecto {
  top: 732px;
  font-size: var(--font-size-11xl);
  width: 365px;
}
.Habilidades {
  top: 789px;
  font-weight: 300;
  width: 164px;
  height: 44px;
}
.Cono {
  margin-bottom: 0;
}
.Conocimientos {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 40px;
}
.Listado {
  position: absolute;
  top: 833px;
  left: 1879px;
  font-size: var(--font-size-11xl);
  display: inline-block;
  width: 365px;
}
.pexelsNicoleAvagliano270665Parent {
  width: 100%;
  position: relative;
  height: 1818px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-lexend-deca);
}
.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  transition: all 1s ease;
}
.body {
  background-color: 'pexelsNicoleAvagliano2706654';
}

.back {
  transform: rotateY(180deg);
}

.cardFlip {
  transform: rotateY(180deg);
  transition: transform 1s ease;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; /* Evita que los elementos ocultos sean clickeables */
}
