@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap");
body {
  margin: 0;
  line-height: normal;
  background-color: "pexelsNicoleAvagliano2706654";
}
:root {
  /* fonts */
  --font-lexend-deca: "Lexend Deca";
  --font-lexend: Lexend;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-white: #fff;
  --color-mediumslateblue: #8e57ea;
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-gray: rgba(0, 0, 0, 0.5);
  --color-black: #000;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-xl: 20px;
}
